<%- include('includes/head') %>
<link rel="stylesheet" href="/styles/login.css">

<div class="containnerMenu containnerPrincipal">

  <div class="col-lg-4 my-4">
    <%- include('includes/messages'); %>

  </div>

  <div id="formContent">
     <div class="fadeIn first">
        <img src="/img/LogoCMAS.svg" id="logo" alt="logo do CMAS" />
     </div>

      <form class="form-cadastro form-login" action="/login/login" method="POST">
        <input type="hidden" name="_csrf" value=<%= csrfToken %>>
        <div class="form-group">
            <input type="text" id="login" class="inputLogin" name="email" placeholder="Login">
            <input type="password" id="password" class="inputLogin" name="password" placeholder="Senha">
          </div>
          <button type="submit" class="btn btn-primary buttonLogin">Entrar</button>
     </form>

  </div>
</div>