html {
    background-color: #D9E5F4;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }
  
  .containnerMenu {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  


  
  .buttonLogin{
    background-color: #38be33;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px 5px 5px 5px;
    margin: 15px 20px 40px 20px;
  }
  
  .buttonLogin:hover  {
    background-color: #e73939;
  }
  
  
  .inputLogin {
    background-color: #D9E5F4;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;

    border-radius: 5px 5px 5px 5px;
  }
  
  .inputLogin:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  .inputLogin:placeholder {
    color: #cccccc;
  }
  
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  
  #logo {
    width:60%;
    margin: 30px;
  }
  